$orange: #ff8b38;
$transparentWhite: rgba(255, 255, 255, 0.7);
$formInput: rgba(0, 0, 1, 0.26);
$formgrey: #eee;
$paragraphGrey: #86878b;
$socialGrey: #cccccc;
$inputblack: rgb(39, 39, 39);
$white: #fff;
$bgcSwap: #f5f5f5;
$descGrey: rgba(255, 255, 255, 0.5);
$bubbleGrey: rgb(245, 245, 245);
$black: #000;
